.herotext{
  margin-left: 25%;
  width: 50%;
}

body{
  background-color: rgba(32, 32, 32, 1);
}


.sectionheader{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.js-nav {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 2em;
}

.StreamsHero-image {
  /* Wave Color */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59adeb+0,42c2b5+52,34ce93+100 */
  background: #59adeb;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-size: 350% 350%;
  animation: waveColors 8s ease infinite;
  /* End Wave Color */
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.StreamsHero-header {
  color: #fff;
  font-weight: 200;
  line-height: 48px;
  margin-bottom: -5px;
  font-size: 32px;
}

.StreamsHero-blurb {
  color: #fff;
  font-size: 21px;
  font-weight: 200;
  line-height: 28px;
  opacity: .7;
  -ms-filter: "alpha(opacity=70)";
  transition: opacity 300ms linear;
  padding-bottom: 2em;
}


/* Buttons */

.Button {
  -webkit-appearance: none;
  background: transparent;
  border-color: currentcolor;
  border-style: solid;
  border-width: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: .4em .75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
}

.StreamsHero-buttonContainer {
  color: #fff;
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: right;
  width: 95%;
}

.StreamsHero-buttonContainer .Button {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 200;
  padding: 10px 35px;
}

.StreamsHero-buttonContainer .Button.StreamsLogin {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
}

.StreamsHero-buttonContainer .Button:hover,
.StreamsHero-buttonContainer .Button:focus {
  background: #fff;
  color: #1da1f2;
}


/* Animation Wave Color */

@-webkit-keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}













ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .h-p-group {
    width: 100%;
    margin-bottom: 87px;
  }
  
  .h-p-group h2,
  .h-p-group p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
  }
  
  .h-p-group h2 {
    margin: 0;
    padding-top: 50px; /*100*/
    font-weight: 700;
    font-size: 32px;
    color: rgba(98, 219, 190, 1);
  }
  
  .h-p-group p {
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    color: rgba(98, 219, 190, 1);
  }
  
  address {
    font-style: normal;
  }
  .services-container {
    /*height: 650px; 760*/
    width: 940px;
    margin: 0 auto;
  }
  
  .services-block {
    width: 100%;
  }
  
  .services-block-box {
   display: inline-block;
    /*width: 300px;*/
    width: 32%;
  }
  
  .marg-top {
    margin-top: 72px;
  }

  .services-block-box h3 {
    display: inline-block;
    margin: 0 0 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  
  .services-block-box .fa {
    display: block;
    float: left;
  }
  
  .services-block-box .fa-tablet,
  .services-block-box .fa-lemon-o {
    margin-right: 30px;
  }
  
  .services-block-box .fa-folder-o  {
    margin-right: 25px;
  }
  
  .services-block-box .fa-code {
    margin-right: 5px;
  }
  
  .services-block-box .fa-envelope-o {
    margin-right: 20px;
  }
  
  .services-block-box .fa-bookmark-o {
    margin-right: 25px;
  }
  
  .services-block-box p {
    display: inline-block;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
  }

  /* #contacts */
  
  .contacts-container {
    /*width: 640px;*/
    width: 70%;
    margin: 0 auto 42px auto;
  }
  
  .contacts-block h4,
  .contacts-block a,
  .contacts-block address,
  .contact-form input,
  .textarea-positioning textarea {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .contacts-block {
    display: inline-block;
    height: 140px;
    width: 32%;
    vertical-align: top;
  }
  
  .contacts-block h4 {
    margin: 21px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  
  .contacts-block a {
    display: block;
  }
  
  .contacts-block a:hover {
    color: #fcdb00;
  }
  
  .contacts-block address,
  .contacts-block a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(98, 219, 190, 1);
    text-align: center;
  }
  
   .fa.fa-map-marker {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  
  .fa.fa-envelope {
   margin: 0 auto;
   display: block;
   text-align: center;
  }
  
  .fa.fa-phone-square {
    margin: 0 auto; 
    display: block;
    text-align: center;
  }
  
  
  /* #contact form */
  
  .contact-form {
    padding-bottom: 50px;
    width: 100%;
  }
  
  .contact-form form {
    margin: 0 auto;
  }
  
  .contact-form input,
  .textarea-positioning textarea {
    display: block;
    outline: none;
  }
  
  .textarea-positioning {
    /*width: 456px;*/
    width: 50%;
    margin: 0 auto;
  }
  
  .contact-form input[type=text],
  .contact-form input[type=email], 
  .textarea-positioning textarea {
    border: 2px solid rgba(32, 32, 32, 1);
  }
  
  .textarea-positioning textarea {
    height: 179px;
    /*width: 456px;*/
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    resize: none;
    box-sizing: border-box;
  }
  
  .contact-form input[type=email],
  .contact-form input[type=text] {
    height: 51px;
    /*width: 456px;*/
    width: 50%;
    margin: 0 auto 24px auto;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .contact-form input[type=submit] {
    height: 53px;
    /*width: 170px;*/
    width: 20%;
    margin: 26px auto 0 auto;
    border: transparent;
    font-weight: 700;
    color:rgba(32, 32, 32, 1);
    text-transform: uppercase;
    background-color: rgba(98, 219, 190, 1);
    cursor: pointer;
  }
  
  .contact-form input[type=submit]:hover {
    background-color:rgba(98, 219, 190, 1);
  }
  
  
  /*--------------------------------------------*/
  
  
  /*--------------------------------------------*/
  
  
 
  
  @media screen and (max-width: 348px) {
    .stats-block {
      display: block;
      width: 25%;
      margin: 0 auto 40px auto;
    }
  
    .stats-block .fa-thumbs-up {
      display: block;
      margin: 0 auto;
    }
  }
  
  /* for max-width 599px */
  @media screen and (max-width: 599px) {
    .head {
      width: 100%;
      
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .head-container {
      width: 100%;
    }
  
    .logo {
      margin: 0 auto 0 25px;
    }
  
    .socials {
      margin-right: 0;
    }
  
    .socials ul li {
      margin-right: 40px;
    }
  
    .hero {
      width: 100%;
    }
  
    .hero h1 {
      color: #000000;
    }
  
    .hero a {
      display: none;
    }
  
    .services-container {
      width: 100%;
    }
  
    .services-block-box {
      width: 60%;
      margin: 0 auto 70px auto;
    }
  
    .services-block-box h3,
    .serxices-block-box p {
      display: block;
    }
    .services-block-box .fa-code {
      margin-right: 25px;
    }
  
    .price-block {
      margin-bottom: 90px;
    }
   
    .positioning-container {
      margin: 0 auto 40px auto;
    }
     
    .team-block {
      margin: 0 auto 60px auto;
      border-bottom: 1px solid #696969;
    }
  
    .stats-container,
    .customer-info,
    .feedback-container,
    .contacts-container,
    .contacts-block,
    .contact-form,
    footer,
    .footer-container,
    .textarea-positioning textarea,
    .footer-form,
    .footer-form form,
    .footer-form form input[type="email"],
    .footer-contacts,
    .portfolio-container,
    .team-block-container,
    .price-block,
    .pricing-container,
    .data-container   {
      width: 100%;
    } 
  
    .customer-quote,
    .positioning-container,
    .team-block {
      width: 80%;
    }
  
     .contact-form input[type="email"],
    .contact-form input[type="text"],
    .contact-form input[type="submit"],
    .textarea-positioning,
    .contact-form form {
      width: 85%;
    }
  
    .footer-form  {
      margin-bottom: 15px;
      margin-bottom: 50px;
    }
  
    .footer-form form input[type="email"] {
      margin-bottom: 10px;
    }
  
    .footer-form form input[type="email"],
    .footer-form form input[type="submit"],
    .contacts-block,
    .footer-contacts,
    .footer-nav,
    .logo,
    .socials,
    .services-block-box,
    .positioning-container,
    .team-block {
      display: block;
    }
  }
  
  
  /* for max-width 920px */
  @media screen and (min-width: 600px) and (max-width: 950px) {
    .head {
      width: 100%;
      background-image: url("Screenshot\ 2024-06-30\ 194417.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .head-container {
      width: 100%;
    }
  
    .logo {
      display: block;
      margin: 0 auto 0 120px;
    }
  
    .socials {
      display: block;
      margin-right: 50px;
    }
  
    .hero,
    .services-container  {
      width: 100%;
    }
  
    .hero h1 {
      color: #000000;
    }
  
    .services-block-box {
      width: 48%;
      display: inline-block;
      margin: 0 auto 70px auto;
      padding-left: 80px;
      box-sizing: border-box;
    }
  
    .services-block-box .fa {
      display: block;
    }
  
    .services-block-box h3, 
    .services-block-box p {
      display: block;
    }
    .services-block-box .fa-code {
      margin-right: 25px;
    }
  
    .pricing-container,
    .portfolio-container,
    .team-block-container,
    .data-container,
    .stats-container,
    .customer-info,
    .feedback-container,
    .contacts-container,
    .contact-form,
    .textarea-positioning textarea,
    footer,
    .footer-container,
    .footer-form,
    .footer-form form,
    .footer-form form input[type="email"],
    .footer-contacts   {
      width: 100%;
    }
  
    .positioning-container,
    .team-block {
      width: 48%;
      display: inline-block;
    }
  
    .customer-quote {
      width: 80%;
    }
  
    .contact-form input[type="email"],
    .contact-form input[type="text"],
    .contact-form input[type="submit"],
    .contact-form form,
    .textarea-positioning {
      width: 85%;
    }
  
  }
  

  .containerPic {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(32, 32, 32, 1);
  }
  
  .section-heading {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 64px;
    color: #10996d;
    margin: 0 0 70px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .profile {
    position: relative;
    transition: all 0.3s;
  }
  
  .profile:hover {
    transform: translateY(25px);
  }
  
  .profile img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid rgba(32, 32, 32, 1);
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    width: 150px;
    height: 150px;
  }

  .profile:not(:first-child) img {
    margin-left: -20px;
  }
  
  .profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .profile img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
  }
  * {
    margin: 0;
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color:  rgba(98, 219, 190, 1);
      color: #fff;
      height: 400px;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill:#a9b7bb;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      
  
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: rgba(98, 219, 190, 1);
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color:#a9b7bb;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  .pg-footer{
    background-color: rgba(98, 219, 190, 1);
  }
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  
  @import url("https://fonts.googleapis.com/css?family=PT+Sans");
  

  
  